<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/1.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/first.jpg">
        <p>
            Это я. Типичный оффисный работяга(фото как на поспорт блин, не хватает только подписи "депортирован из страны"). Но от других меня отличает то, что я не остановим и добьюсь повышения любой ценой, даже если для этого придется побыть дьяволом во плоти. Со мной мой диктофон, смекалка и тонна уверенности в том, что я стану победителем. Надеюсь, то,что шлет мысли в мою пустую голову в этот раз окажется благоразумнее и ничего не пойдет через Ж..Кхм, вперед? 
        </p>
    <form action="/2"><input type="submit" value="По коням"/></form>
</body>
</html>