<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/11.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/2.1.jpg">
        <p>
            Я на новой должности уже месяц. И вот, подвернулся шанс продинуться дальше. Наш тимлид сидит в кафетерии. "Ничего необычного",- скажете вы? Соглашусь, но запах алкоголя, свидетельствующий о прекрасно проведенном вечере говорит об обратном. Это мой шанс
        </p>
    <form action="/13"><input type="submit" value="Привет, трудный денек вчера был?"/></form>
    <form action="/11"><input type="submit" value="Забить"/></form>
    <form action="/11"><input type="submit" value="Как жизнь?"/></form>

</body>
</html>