<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/11.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/2.1.jpg">
        <p>
            -Привет, трудный денек вчера был?(судя по его взгляду, даже на такую грубость он не в состоянии ответить)
            <br />

            -Ага, вот, сижу кофе пью. А ты почему не на рабочем месте?
        </p>
    <form action="/11"><input type="submit" value="Пришел понасмехаться над старым алкашом"/></form>
    <form action="/11"><input type="submit" value="Пришел на обеденный перерыв"/></form>
    <form action="/14"><input type="submit" value="Пришел поддержать шефа и предложить ему кое-что интересное"/></form>

</body>
</html>