<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/11.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/2.1.jpg">
        <p>
            -Пришел поддержать шефа и предложить ему кое-что интересное(а глаза то заблестели, забегали. Хорошо, что в пиджаке у меня  всегда припасен пузырь)
            <br />
            -И что же ты мне предложишь? Смотри, если твое предложение меня не устроит - премии не жди
        </p>
    <form action="/15"><input type="submit" value="(Молча достать бутылку и поставить на стол)"/></form>
    <form action="/11"><input type="submit" value="Не хотите продолжить банкет?"/></form>
    <form action="/11"><input type="submit" value="Вот лучшее лекарство от головной боли(поставить бутылку на стол)"/></form>

</body>
</html>