<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/11.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/2.2.jpg">
        <p>
            -Ну спасибо, услужил
        </p>
    <form action="/16"><input type="submit" value="Да не за что, выздорваливайте!(уйти)"/></form>
    <form action="/11"><input type="submit" value="(Молча улыбнуться)"/></form>
    <form action="/11"><input type="submit" value="(уйти молча)"/></form>

</body>
</html>