<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/16.css') }}" type="text/css"></head>
</head>
<body>
        <p>
            Он даже и не подозревал, что камеры в кафетерии направлены так, чтобы его действия были хорошо видны. И когда спустя несколько минут его потребовали к директору отдела, я даже не удивился. А также, господа, не забывайте, что главный кондидат на его место - ваш покорный слуга
        </p>
        <img src="/static/imgs/22.jpg">
    <form action="/17"><input type="submit" value="АКТ 3"/></form>
</body>
</html>