<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/18.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/3.1.jpg">

        <p>
            Мой босс стоял и обнимал какую-то женщину. Сперва я подумал,что это его жена, но спустя мгновение понял. Это же секретарша! И они собираются сделать что-то прямо на работе. Прямо. На. Работе. Карл.
            <br />
            А знаете, что самое-самое-самое лучшее. То, что в это время его искала жена с ребенкосм!
        </p>
    <form action="/20"><input type="submit" value="Быстро закрыть дверь и побежать за его женой"/></form>
    <form action="/17"><input type="submit" value="Полюбоваться картиной"/></form>

</body>
</html>