<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/18.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/3.2.jpg">

        <p>
            Еле еле нагнав ее перед выходом, я встал в ступор. Что-же ей сказать?
        </p>
    <form action="/17"><input type="submit" value="Ваш муж очень хочет вас увидеть. Он говорит это очень срочно"/></form>
    <form action="/17"><input type="submit" value="Ваш муж вам изменяет!"/></form>
    <form action="/21"><input type="submit" value="Ваш муж повесился в своем кабинете!"/></form>


</body>
</html>