<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/21.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/3.3.jpg">

        <p>
            Как же мне помог этот скандал? Да все просто. У нашего гендира недавно умерла жена и сейчас он как окаянный носится и всем читает проповедь о моногамии, почитании, семье. И на контрасте с нашим объектом выступаю я. Молодой, мечтательный. Губка, впитывающаяя весь его бред. Виват
        </p>
    <form action="/22"><input type="submit" value="Акт 4"/></form>


</body>
</html>