<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/4.jpg">
        <p>
Во время очередной поездки в лифте, я заметил своего товарища. Он выглядел напуганно. Возможно, он что-то знает
        </p>
    <form action="/26"><input type="submit" value="Хэй, дружище. Что-то ты сам не свой. Все хорошо?"/></form>
    <form action="/22"><input type="submit" value="Промолчать"/></form>


</body>
</html>