<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/4.jpg">
        <p>
            -Хэй, дружище. Что-то ты сам не свой. Все хорошо?
            <br />
            - Привет.Да вроде нормально.
        </p>
    <form action="/27"><input type="submit" value="Я же вижу, что нет. Выкладывай"/></form>
    <form action="/28"><input type="submit" value="Ну же, мы же бок о бок с самого начала. Давай, рассказывай что тряслось"/></form>
    <form action="/27"><input type="submit" value="Да кого ты обманываешь, сейчас расскажу директору, что его ключи у тебя"/></form>

</body>
</html>