<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/4.jpg">
        <p>
            -Ладно, смотри, я нашел ключи, которые потерял наш директор. Только никому. Прошу
            
        </p>
    <form action="/29"><input type="submit" value="(Выхватить ключи,когда двери начнут открываться)"/></form>
    <form action="/22"><input type="submit" value="Поехали посмотрим вместе, что там творится"/></form>
    <form action="/22"><input type="submit" value="Если не отдашь мне ключи, уверяю, ты на этой работе и секунды не продержишься

</body>
</html>