<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/3.jpg">
        <p>
            Вчера был корпоратив, я увидел нашу админшу, находящуюся в грустном состоянии. Видимо, вчера она рассталась с парнем.. Ей плохо, а для меня это звучит как шанс
        </p>
    <form action="/4"><input type="submit" value="Подойти"/></form>
    <form action="/2"><input type="submit" value="Проигнорировать"/></form>

</body>
</html>