<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/5.1.jpg">
        <p>
           В золоченной комнате с огромным унитазом, из которого торчал не менее огромный кальян среди сектантов в коричневых мантиях стоял наш гендир. Они молились чему-то, в то врем как я вошел. Их взоры устремились ко мне и я понял. Мне уйти не дадут
        </p>
    <form action="/31"><input type="submit" value="Добрый день, господа"/></form>
    <form action="/22"><input type="submit" value="(Промолчать с раскрытыми глазами)"/></form>
    <form action="/22"><input type="submit" value="Я пришел сюда, чтобы исстребить вас и занять трон правления корпорацией(хы, трон, хыхыхы)"/></form>

</body>
</html>