<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/5.1.jpg">
        <p>
            -Добрый день, господа
            <br />
            -Как ты посмел сюда зайти? Мы исстребим тебя в порошок своим оружием! Но, ты служил верой и правдой. Так что, дам тебе шанс переиграть меня. Сразимся языками в формате рэп батла. Достаньте музыку, ребята
        </p>
    <form action="/32"><input type="submit" value="???"/></form>

</body>
</html>