<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/23.css') }}" type="text/css"></head>
</head>
<body>
    <img src="/static/imgs/6.jpg">

        <p>
            Я одолел его. И теперь это моя корпорация. Я достиг цели
        </p>
    <form action="/"><input type="submit" value="Конец игры. Концовка 2/3"/></form>

</body>
</html>