<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/3.jpg">
        <p>
            -Привет, надо что?
        </p>
    <form action="/2"><input type="submit" value="Что ты такая грустная, крошка? Случилось чего?"/></form>
    <form action="/5"><input type="submit" value="Привет, что-то произошло?"/></form>
    <form action="/2"><input type="submit" value="Я тут принес отчет, посмотришь?"/></form>

</body>
</html>