<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/3.jpg">
        <p>
            -Привет, что-то произошло?
            <br />
            -Н-нет, а что, заметно?
        </p>
    <form action="/6"><input type="submit" value="Да кого ты обманываешь? Выкладывай"/></form>
    <form action="/2"><input type="submit" value="Неа"/></form>
    <form action="/2"><input type="submit" value="Да так, заходит улитка в бар..."/></form>

</body>
</html>