<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/3.jpg">
        <p>
            -Да кого ты обманываешь? Выкладывай (кажется она смутилась)
            <br />
            -Парень бросил..
        </p>
    <form action="/2"><input type="submit" value="Не волнуйся. Нового найдешь. Я как раз пока свободен:)"/></form>
    <form action="/7"><input type="submit" value="Печально. Но это не конец жизни. Хочешь анекдот? *анекдот*"/></form>
    <form action="/2"><input type="submit" value="ХАХАХААХВХХАХВХХАХАХВ"/></form>

</body>
</html>