<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3.css') }}" type="text/css"></head>
</head>
<body>
        <img src="/static/imgs/7.jpg">
        <p>
            Печально. Но это не конец жизни. Хочешь анекдот? Надел мужик шляпу, а она ему как раз
            <br />
            -Смешно. А какие у тебя планы на вечер?
        </p>
    <form action="/10"><input type="submit" value="Даже не знаю, хочешь куда-то прогуляться?(у меня как раз отчет после работы, странно, что она это не знает)"/></form>
    <form action="/9"><input type="submit" value="Не домогайся до меня!!"/></form>
    <form action="/2"><input type="submit" value="Я очень занят. Мне нужно подготовить отчет!"/></form>

</body>
</html>