<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/910.css') }}" type="text/css"></head>
</head>
<body>
        <p>
            На мои крики сбежался весь оффис и начальник в том числе. Они поверили мне. Поздравляю себя с повышением! Пропущу стаканчик и пойду спать. Проблемы слабых меня не волнуют  
        </p>
        <img src="/static/imgs/9.jpg">
    <form action="/11"><input type="submit" value="АКТ 2"/></form>
</body>
</html>